@import '../../../styles-variables';

.floating-img {
  float: right;
  @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
    width: 50%;
  }
}
.funding-img {
  @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
    width: 100%;
  }
}
.guide {
  cursor: pointer;
}
