@import '../../../styles-variables';

@mixin images($width) {
  &__left {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: $width;
  }
  &__right {
    float: right;
    max-width: $width;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

.floating-img {
  @media (max-width: map-get($angular-breakpoints, tablet) - 1) {
    @include images(50%);
  }
  @media (min-width: map-get($angular-breakpoints, tablet)) {
    @include images(33%);
  }
}

h1 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  clear: both;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  clear: both;
}
