@import '../../../styles-variables';

.c15,
.c8,
.c26 {
  font-style: italic;
}
.c120 {
  @media (min-width: map-get($angular-breakpoints, tablet)) {
    margin-left: 3em;
  }
  margin-right: auto;
}
.c3 {
  vertical-align: top;
  width: 6em;
}
.c11 {
  vertical-align: top;
  width: 10em;
}
.c13 {
  vertical-align: top;
}
.c14,
.c64 {
  font-weight: bold;
}
.c94 {
  text-align: left;
}
